DATABASE=mongodb://user:password@cogo-shard-00-00.wm2do.mongodb.net:27017,cogo-shard-00-01.wm2do.mongodb.net:27017,cogo-shard-00-02.wm2do.mongodb.net:27017/collectandgo-staging?tls=true&authMechanism=DEFAULT&authSource=admin
FIELD_LIST=toCustomer.name,toCustomer.phone,toCustomer.email
COLLECTION_LIST=stop
BATCH_SIZE=500
OLDER_THAN=30
COPY_NON_ANONYMIZED=true
IGNORE_COLLECTIONS=logs,audit

